:root {
    --colour1: #ffeed0;
    --colour2: #f79f24;
    --colour3: #7c064d;

    --colourActive: #ae033f;
    --colourHover: #e20049;
    --colourDefault: #ff2c63;
    --colourDisabled: #ff9bb0;
}

* {
    margin: 0;
    padding: 0;

    font-family:Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(232,207,167,1) 0%, rgba(255,238,208,1) 100%);
    background-attachment: fixed;
}

h3 {
    text-align: center;
    color: var(--colourDefault);
    font-weight: bolder;
}

.option {
    background-color: var(--colour1);
    font-family: inherit;
    color: var(--colourDefault);
    border: var(--colourDefault);
    border-color: var(--colourDefault);
    border-style: solid;
    border-width: 0.5%;
    border-radius: 5px;
    padding: 5px;
}

.option:hover {
    border-color: var(--colourHover);
    color: var(--colourHover);
}

.option:active {
    background-color: var(--colour1);
    color: var(--colourActive);
    border-color: var(--colourActive);
}

.option:focus {
    background-color: var(--colour1);
}

.option:disabled {
    color: var(--colourDisabled);
    border-color: var(--colourDisabled);
}

#screen {
    display: grid;
    justify-content: center;
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 50px;
    color: #c4544a;
}

.cell {
    justify-content: center;
    text-align: center;
    margin-inline: 10px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    border-width: 10px;
    border-style: inset;

    color: var(--colour1);
    background-color: var(--colour2);
    border-color: var(--colour2);
}

.cell:focus{
    background-color: var(--colour2);
}

.pressed {
    border-style: outset;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
#options button {
    margin-inline: 10px;
}